<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agenda de contato</title>
</head>
<body>

  <div id="app">
    <h1>Agenda de Contatos</h1>

    <!-- reatividade -->
    <input type="text" v-model="searchText" name="" id="" placeholder="Entre com um nome">
    
    <button v-on:click="getData()">Get dados</button> <br>

    <div v-if="listResult.length <= 0">
      Nenhum contato encontrado!
    </div>

    <ul>
      <li v-for="item, index in listResult">
        <address>
          <!-- Quando quer utilizar uma propriedade em um atributo, utilizamos v-bind -->
          <img v-bind:src="item.picture" v-bind:alt="item.firstName"> <br>
          {{ item.firstName }} {{ item.lastName }} <br>
          Email: {{ item.email }} <br>
          Cidade: {{ item.city }} <br>
        </address>
        <button v-on:click="(removeContact(index))">Excluir</button>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="main.js"></script>
</body>
</html>